@font-face {
  font-family: 'NB International Pro web';
  src: url('fonts/NBInternationalPro-Light.woff2') format('woff2'),
      url('fonts/NBInternationalPro-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'NB International Pro web';
  src: url('fonts/NBInternationalPro-Bold.woff2') format('woff2'),
      url('fonts/NBInternationalPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

:root {
	--hourWidth: 48px;
	--counterTextSize: 72px;
	--cityTextSize: 18px;
}

@media (max-width: 1000px) {
	:root {
	}
}

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	margin: 0;
	font-family: NB International Pro web;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
}

.clockCity {
	font-size: var(--cityTextSize);
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 0.06em;
	text-indent: 0.2em;
	margin-bottom: 8px;
}

.counter {
	font-size: var(--counterTextSize);
	display: flex;
	letter-spacing: -0.06em;
}

.counterHour,
.counterMinutes {
	font-weight: 700;
}

.counterType {
	opacity: 0.3;
}

.clocksSection {
	display: flex;
	position: relative;
	padding: calc(50vh - 200px) 64px 64px 64px;
}

.clockWrapper {
	width: calc(var(--hourWidth) * 9);
	flex-shrink: 0;
}

.clockWrapper:before {
	content: '';
	width: 2px;
	height: 72px;
	background-color: #000;
	display: block;
	position: absolute;
	bottom: -56px;
	z-index: 1;
}

.timelineTrack {
	display: flex;
	position: relative;
	left: 62px;
	transition: 0.5s;
}

.timelineTrackWrapper {
	
}

.timelineBox {
	flex-shrink: 0;
}

.timelineBoxNumber {
	font-size: 24px;
	text-align: center;
	position: relative;
	left: 24px;
	opacity: 0.4;
}

.timelineBoxFill {
	height: 40px;
	width: 48px;
	margin-bottom: 32px;
}

.timelineBoxFill-am {
	background-color: #D1DBE7;
	box-shadow: inset 1px 0 rgba(103, 133, 169, 0.3);
}

.timelineBoxFill-pm {
	background-color: #F8EDCF;
	box-shadow: inset 1px 0 rgba(165, 149, 106, 0.3);
}

.timelineBox-1.timelineBox-am:before,
.timelineBox-1.timelineBox-pm:before {
	position: absolute;
	line-height: 40px;
	text-transform: uppercase;
	margin-left: 12px;
	font-weight: 700;
}

.timelineBox-1.timelineBox-am:before {
	content: 'am';
	color: #6785A9;
}

.timelineBox-1.timelineBox-pm:before {
	content: 'pm';
	color: #A5956A;
}

.timelineBox-1.timelineBox-am:after {
	content: '';
	display: block;
	width: 1px;
	height: 200vh;
	background-color: rgba(0,0,0,0.2);
	position: absolute;
	top: -100vh;
}