:root {
	--hourWidth: 48px;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
	margin: 0;
	font-family: NB International Pro;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.clockCity {
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 0.06em;
	text-indent: 0.2em;
	margin-bottom: 8px;
}

.counter {
	font-size: 72px;
	display: flex;
	letter-spacing: -0.06em;
}

.counterHour,
.counterMinutes {
	font-weight: 700;
}

.counterType {
	opacity: 0.3;
}

.clocksSection {
	display: flex;
	position: relative;
	padding: 64px;
}

.clockWrapper {
	width: calc(var(--hourWidth) * 9);
}

.clockWrapper:before {
	content: '';
	width: 2px;
	height: 72px;
	background-color: #000;
	display: block;
	position: absolute;
	bottom: -56px;
	z-index: 1;
}

.timelineTrack {
	display: flex;
	position: relative;
	transform: translateX(62px);
}

.timelineTrackWrapper {
	overflow: hidden;
}

.timelineBoxNumber {
	font-size: 24px;
	text-align: center;
	position: relative;
	left: 24px;
	opacity: 0.4;
}

.timelineBoxFill {
	height: 40px;
	width: 48px;
	margin-bottom: 32px;
}

.timelineBoxFill-am {
	background-color: #D1DBE7;
}

.timelineBoxFill-pm {
	background-color: #F8EDCF;
}